/* ! normalize.css v1.0.0 | MIT License | git.io/normalize */

/* ==========================================================================
HTML5 display definitions
========================================================================== */

	/*
	* Corrects `block` display not defined in IE 6/7/8/9 and Firefox 3.
	*/

	article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
			display: block;
	}

	/*
	* Corrects `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
	*/
	audio, canvas, video {
			display: inline-block;
			*display: inline;
			*zoom: 1;
	}

	/*
	* Prevents modern browsers from displaying `audio` without controls.
	* Remove excess height in iOS 5 devices.
	*/
	audio:not([controls]) {
			display: none;
			height: 0;
	}

	/*
	* Addresses styling for `hidden` attribute not present in IE 7/8/9, Firefox 3, * and Safari 4.
	* Known issue:no IE 6 support.
	*/
	[hidden] {
			display: none;
	}
/* ==========================================================================
Base
========================================================================== */
	/*
	* 1. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
	*    `em` units.
	* 2. Prevents iOS text size adjust after orientation change, without disabling
	*    user zoom.
	*/

	html {
			font-size: 100%; /* 1 */
			-webkit-text-size-adjust: 100%; /* 2 */
			-ms-text-size-adjust: 100%; /* 2 */
	}

	/*
	* Addresses `font-family` inconsistency between `textarea` and other form
	* elements.
	*/
	html, button, input, select, textarea {
			font-family: sans-serif;
			font-family: 'Nunito', sans-serif;
	}
	html, body {
			overflow-x: hidden;
			width: 100%;
	}

	/*
	* Addresses margins handled incorrectly in IE 6/7.
	*/
	body {
			margin: 0;
			font-family: 'Nunito', sans-serif;
	}

	/*
	* Font Smoothing
	*/
	html, html a {
			text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
			-webkit-font-smoothing: antialiased;
	}
/* ==========================================================================
Links
========================================================================== */
	/*
	* Addresses `outline` inconsistency between Chrome and other browsers.
	*/

	a:focus {
			outline: thin dotted;
			text-decoration: none;
	}

	/*
	* Improves readability when focused and also mouse hovered in all browsers.
	*/
	a:active, a:hover {
			outline: 0;
			text-decoration: none;
	}
/* ==========================================================================
Typography
========================================================================== */
	/*
	* Addresses font sizes and margins set differently in IE 6/7.
	* Addresses font sizes within `section` and `article` in Firefox 4+, Safari 5, * and Chrome.
	*/

	h1 {
			margin: 0.67em 0;
			font-size: 2em;
	}
	h2 {
			margin: 0.83em 0;
			font-size: 1.5em;
	}
	h3 {
			margin: 1em 0;
			font-size: 1.17em;
	}
	h4 {
			margin: 1.33em 0;
			font-size: 1em;
	}
	h5 {
			margin: 1.67em 0;
			font-size: 0.83em;
	}
	h6 {
			margin: 2.33em 0;
			font-size: 0.75em;
	}

	/*
	* Addresses styling not present in IE 7/8/9, Safari 5, and Chrome.
	*/
	abbr[title] {
			border-bottom: 1px dotted;
	}

	/*
	* Addresses style set to `bolder` in Firefox 3+, Safari 4/5, and Chrome.
	*/
	b, strong {
			font-weight: bold;
	}
	blockquote {
			margin: 0px;
	}

	/*
	* Addresses styling not present in Safari 5 and Chrome.
	*/
	dfn {
			font-style: italic;
	}

	/*
	* Addresses styling not present in IE 6/7/8/9.
	*/
	mark {
			background: #ff0;
			color: #000;
	}

	/*
	* Addresses margins set differently in IE 6/7.
	*/
	p, pre {
			margin: 1em 0;
	}

	/*
	* Corrects font family set oddly in IE 6, Safari 4/5, and Chrome.
	*/
	code, kbd, pre, samp {
			font-size: 1em;
			font-family: monospace, serif;
			_font-family: 'courier new', monospace;
	}

	/*
	* Improves readability of pre-formatted text in all browsers.
	*/
	pre {
			white-space: pre;
			white-space: pre-wrap;
			word-wrap: break-word;
	}

	/*
	* Addresses CSS quotes not supported in IE 6/7.
	*/
	q {
			quotes: none;
	}

	/*
	* Addresses `quotes` property not supported in Safari 4.
	*/
	q:before, q:after {
			content: '';
			content: none;
	}
	small {
			font-size: 75%
	}

	/*
	* Prevents `sub` and `sup` affecting `line-height` in all browsers.
	*/
	sub, sup {
			position: relative;
			vertical-align: baseline;
			font-size: 75%;
			line-height: 0;
	}
	sup {
			top: -0.5em
	}
	sub {
			bottom: -0.25em
	}
/* ==========================================================================
Lists
========================================================================== */
	/*
	* Addresses margins set differently in IE 6/7.
	*/

	dl, menu, ol, ul {
			margin: 1em 0;
	}
	dd {
			margin: 0 0 0 40px;
	}

	/*
	* Addresses paddings set differently in IE 6/7.
	*/
	menu, ol, ul {
			padding: 0;
	}

	/*
	* Corrects list images handled incorrectly in IE 7.
	*/
	nav ul, nav ol {
			list-style: none;
			list-style-image: none;
	}
/* ==========================================================================
Embedded content
========================================================================== */
	/*
	* 1. Removes border when inside `a` element in IE 6/7/8/9 and Firefox 3.
	* 2. Improves image quality when scaled in IE 7.
	*/

	img {
			border: 0; /* 1 */
			-ms-interpolation-mode: bicubic; /* 2 */
	}

	/*
	* Corrects overflow displayed oddly in IE 9.
	*/
	svg:not(:root) {
			overflow: hidden;
	}
/* ==========================================================================
Figures
========================================================================== */
	/*
	* Addresses margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
	*/

	figure {
			margin: 0;
	}
/* ==========================================================================
Forms
========================================================================== */
	/*
	* Corrects margin displayed oddly in IE 6/7.
	*/

	form {
			margin: 0;
	}

	/*
	* Define consistent border, margin, and padding.
	*/
	fieldset {
			margin: 0 2px;
			padding: 0.35em 0.625em 0.75em;
			border: 1px solid #c0c0c0;
	}

	/*
	* 1. Corrects color not being inherited in IE 6/7/8/9.
	* 2. Corrects text not wrapping in Firefox 3.
	* 3. Corrects alignment displayed oddly in IE 6/7.
	*/
	legend {
			padding: 0;
			border: 0; /* 1 */
			white-space: normal; /* 2 */
			*margin-left: -7px; /* 3 */
	}

	/*
	* 1. Corrects font size not being inherited in all browsers.
	* 2. Addresses margins set differently in IE 6/7, Firefox 3+, Safari 5, *    and Chrome.
	* 3. Improves appearance and consistency in all browsers.
	*/
	button, input, select, textarea {
			margin: 0; /* 2 */
			vertical-align: baseline; /* 3 */
			font-size: 100%; /* 1 */
			*vertical-align: middle; /* 3 */
	}

	/*
	* Addresses Firefox 3+ setting `line-height` on `input` using ` !important` in
	* the UA stylesheet.
	*/
	button, input {
			line-height: normal;
	}

	/*
	* 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
	*    and `video` controls.
	* 2. Corrects inability to style clickable `input` types in iOS.
	* 3. Improves usability and consistency of cursor style between image-type
	*    `input` and others.
	* 4. Removes inner spacing in IE 7 without affecting normal text inputs.
	*    Known issue:inner spacing remains in IE 6.
	*/
	button, html input[type="button"], /* 1 */
	input[type="reset"], input[type="submit"] {
			cursor: pointer; /* 3 */
			-webkit-appearance: button; /* 2 */
			*overflow: visible; /* 4 */
	}

	/*
	* Re-set default cursor for disabled elements.
	*/
	button[disabled], input[disabled] {
			cursor: default;
	}

	/*
	* 1. Addresses box sizing set to content-box in IE 8/9.
	* 2. Removes excess padding in IE 8/9.
	* 3. Removes excess padding in IE 7.
	*    Known issue:excess padding remains in IE 6.
	*/
	input[type="checkbox"], input[type="radio"] {
			box-sizing: border-box; /* 1 */
			padding: 0; /* 2 */
			*height: 13px; /* 3 */
			*width: 13px; /* 3 */
	}

	/*
	* 1. Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.
	* 2. Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome
	*    (include `-moz` to future-proof).
	*/
	input[type="search"] {
			/* 2 */
			box-sizing: content-box;
			-webkit-appearance: textfield; /* 1 */
			nowhitespace: afterproperty;
	}

	/*
	* Removes inner padding and search cancel button in Safari 5 and Chrome
	* on OS X.
	*/
	input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
			-webkit-appearance: none;
	}

	/*
	* Removes inner padding and border in Firefox 3+.
	*/
	button::-moz-focus-inner, input::-moz-focus-inner {
			padding: 0;
			border: 0;
	}

	/*
	* 1. Removes default vertical scrollbar in IE 6/7/8/9.
	* 2. Improves readability and alignment in all browsers.
	*/
	textarea {
			overflow: auto; /* 1 */
			vertical-align: top; /* 2 */
	}
/* ==========================================================================
Tables
========================================================================== */
	/*
	* Remove most spacing between table cells.
	*/

	table {
			border-spacing: 0;
			border-collapse: collapse;
	}
/* ==========================================================================
Global Styles
========================================================================== */
	a {
			-webkit-transition-timing-function: ease-in-out;
			transition-timing-function: ease-in-out;
			-webkit-transition-duration: 300ms;
			transition-duration: 300ms;
			-webkit-transition-property: color, border-color, background-color;
			transition-property: color, border-color, background-color;
	}

	.group:after {
			content: "";
			display: table;
			clear: both;
	}
	.nopadding {
			margin: 0 !important;
			padding: 0 !important;
	}
	p {
			font-size: 14px;
			line-height: 25px;
	}
	a {
			color: #73d0da;
	}
	a:hover, a:focus {
			color: #73d0da;
			text-decoration: none;
	}
	.texture-overlay {
			position: absolute;
			top: 0px;
			left: 0px;
			width: 100%;
			height: 100%;
			background-image: url(../img/grid.png);
	}
/* ==========================================================================
Buttons
========================================================================== */
	.use-btn {
			display: inline-block;
			margin: 0 10px 10px 0;
			padding: 20px 50px;
			border-radius: 3px;
			background-color: #fff;
			color: #4b98a9;
			font-size: 16px;
	}
	.use-btn:hover, .use-btn:focus {
			background-color: #73d0da;
			color: #fff;
			text-decoration: none;
	}
	.learn-btn, .download-btn {
			background-color: rgba(0,0,0,0.2);
			border: 2px solid #fff;
			border-radius: 3px;
			color: #fff;
			display: inline-block;
			font-size: 1em;
			margin-left: 120px;
			padding: 9px 46px;
	}
	.learn-btn:hover, .learn-btn:focus {
		background-color: rgba(0,0,0,0.4);
		color: aliceblue;
	}
	.learn-btn a {
		color: aliceblue;
		font-family: "Lato", "Nunito", sans-serif;

	}
	.download-btn:hover, .download-btn:focus {
			border-color: #73d0da;
			color: #73d0da;
			text-decoration: none;
	}
	.read-more-btn {
			display: inline-block;
			color: #323a45;
			text-transform: uppercase;
			font-weight: 400;
	}
	.read-more-btn i, .download-btn i {
			margin-left: 5px;
	}
	.showcase .download-btn {
			margin-top: 50px;
	}
	.download .download-btn {
			margin-top: 25px;
	}
/* ==========================================================================
Navigation
========================================================================== */
	.nav-toggle {
			position: absolute;
			top: 0;
			right: 15px;
			z-index: 999999;
			padding: 10px 35px 16px 0px;
			cursor: pointer;
	}
	.nav-toggle:focus {
			outline: none;
	}
	.nav-toggle span, .nav-toggle span:before, .nav-toggle span:after {
			content: '';
			position: absolute;
			display: block;
			width: 35px;
			height: 5px;
			border-radius: 1px;
			background: #fff;
			cursor: pointer;
	}
	.nav-toggle span:before {
			top: -10px;
	}
	.nav-toggle span:after {
			bottom: -10px;
	}
	.nav-toggle span, .nav-toggle span:before, .nav-toggle span:after {
			-webkit-transition: all 300ms ease-in-out;
			transition: all 300ms ease-in-out;
	}
	.nav-toggle.active span {
			background-color: transparent;
	}
	.nav-toggle.active span:before, .nav-toggle.active span:after {
			top: 0;
	}
	.nav-toggle.active span:before {
			-webkit-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			transform: rotate(45deg);
	}
	.nav-toggle.active span:after {
			top: 10px;
			-webkit-transform: translateY(-10px) rotate(-45deg);
			-ms-transform: translateY(-10px) rotate(-45deg);
			transform: translateY(-10px) rotate(-45deg);
	}
	.navicon {
			position: relative;
			height: 26px;
	}
	.navicon p {
			margin: 1px 50px 0 0;
	}
	.navicon-fixed {
			position: fixed;
			top: 59px;
			right: 143px;
	}
/* ==========================================================================
Hero
========================================================================== */
	.hero {
			position: relative;
			padding: 60px 0 60px 0;
			min-height: 800px;
			background: rgb(40, 70, 102) url('../img/showcase-bg-fixed-01.jpg') no-repeat center center;
			color: #fff;
	}
	.hero h1 {
			margin: 200px 0 45px 0;
			font-weight: 300;
			font-size: 45px;
	}
	.hero h1 span {
			display: inline-block;
			color: #a1a9b0;
	}
	#home {
			width: 100%;
			height: 100%;
	}
	.hero {
			width: 100%;
			height: 100%;
	}
	header i {
			margin-left: 5px;
	}
/* ==========================================================================
Blockquote
========================================================================== */

	blockquote {
			margin: 40px 0 0;
			padding: 0;
			border: none;
	}
	blockquote p {
			display: inline-block;
			margin: 0;
			padding: 0;
			width: 70%;
			vertical-align: top;
			font-style: italic;
	}
	blockquote .avatar {
			display: inline-block;
			margin-right: 20px;
			width: 64px;
			height: 64px;
			vertical-align: middle;
	}
	blockquote .logo-quote {
			display: inline-block;
			margin: 0 0 0 90px;
	}
/* ==========================================================================
Footer
========================================================================== */
	.blue {
		top: 10px;
		color: aliceblue;
	}

	footer {
		padding: 12% 0;
	}
	footer h2 {
		bottom: -120px;
		position: absolute;
	}
	footer p {
			color: #c7cacc;
			font-size: 12px;
	}
	footer ul {
			margin-top: 30px
	}
	footer li {
			float: left;
			margin-right: 15%;
			list-style: none;
			text-transform: uppercase;
			font-weight: 400;
	}
	footer li a {
			color: #3f6184;
	}
	footer li:last-child {
			margin-right: 0;
	}
/* ==========================================================================
Nav Overlay
========================================================================== */
	/* Overlay style */

		.overlay {
				position: fixed;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: rgba(52, 82, 113, 0.95);
		}

		/* Menu style */
		.overlay nav {
				position: relative;
				top: 50%;
				height: 60%;
				text-align: center;
				font-size: 54px;
				-webkit-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				transform: translateY(-50%);
		}
		.overlay ul {
				position: relative;
				display: inline-block;
				margin: 0 auto;
				padding: 0;
				list-style: none;
		}
		.overlay ul li {
				display: block;
				float: left;
				margin-right: 20px;
		}
		.overlay ul li:last-child {
				margin-right: 0px
		}
		.overlay ul li i {
				display: block;
				margin-bottom: 10px;
				font-size: 40px;
		}
		.overlay ul li a {
				display: block;
				padding: 50px 0;
				min-width: 190px;
				border: 2px solid #fff;
				border-radius: 3px;
				background-color: #345271;
				color: #fff;
				text-transform: uppercase;
				font-weight: 400;
				font-size: 15px;
				-webkit-transition: all 300ms ease-in-out;
				transition: all 300ms ease-in-out;
		}
		.overlay ul li a:hover, .overlay ul li a:focus {
				border-color: #73d0da;
				color: #73d0da;
		}
	/* Effects */
		.overlay-boxify {
				visibility: hidden;
				opacity: 0;
				-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
				transition: opacity 0.5s, visibility 0s 0.5s;
		}
		.overlay-boxify.open {
				visibility: visible;
				opacity: 1;
				-webkit-transition: opacity 0.5s;
				transition: opacity 0.5s;
		}
		.overlay-boxify nav ul li {
				opacity: 0;
				-webkit-transform: translate3d(0, -80px, 0);
				transform: translate3d(0, -80px, 0);
				-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
				transition: transform 0.5s, opacity 0.5s;
		}
		.overlay-boxify.open nav ul:first-child li:first-child {
				-webkit-transition-delay: 0.05s;
				transition-delay: 0.05s;
		}
		.overlay-boxify.open nav ul:first-child li:nth-child(2) {
				-webkit-transition-delay: 0.1s;
				transition-delay: 0.1s;
		}
		.overlay-boxify.open nav ul:nth-child(2) li:first-child {
				-webkit-transition-delay: 0.15s;
				transition-delay: 0.15s;
		}
		.overlay-boxify.open nav ul:nth-child(2) li:nth-child(2) {
				-webkit-transition-delay: 0.2s;
				transition-delay: 0.2s;
		}
		.overlay-boxify.open nav ul li {
				opacity: 1;
				-webkit-transform: translate3d(0, 0, 0);
				transform: translate3d(0, 0, 0);
		}
/* ==========================================================================
Waypoints
========================================================================== */
	.wp1, .wp2, .wp3, .wp4, .wp5, .wp6 {
			visibility: hidden;
	}
	.bounceInLeft, .bounceInRight, .fadeInUp, .fadeInUpDelay, .fadeInDown, .fadeInUpD, .fadeInLeft, .fadeInRight, .bounceInDown {
			visibility: visible;
	}
	.delay-05s {
			-webkit-animation-delay: 0.5s;
			animation-delay: 0.5s;
	}
	.delay-1s {
			-webkit-animation-delay: 1s;
			animation-delay: 1s;
	}
/*====================
Animahov
====================*/
	.pulse-hov:hover, .pulse-hov:focus {
		-webkit-animation: pulse 1s linear infinite;
		-moz-animation: pulse 1s linear infinite;
		-ms-animation-name: pulse 1s linear infinite;
		-o-animation-name: pulse 1s linear infinite;
		animation-name: pulse 1s linear infinite;
	}
/*====================
Mini contact form
====================*/
	.c_error {
		color: orange;
		font-size: 1em;
		left: 5px;
		position: absolute;
		top: 50px;
		z-index: 1000000;
	}
	.hide {
		display:none;
	}
	#c_enviar {
		-webkit-border-top-left-radius: 0;
		-webkit-border-bottom-left-radius: 0;
		-moz-border-radius-topleft: 0;
		-moz-border-radius-bottomleft: 0;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		margin-left: -1px;
		width: 108px;
	}
	#c_information {
		background: aliceblue;
		color: #04EF28;
		font-size: 1em;
		margin: 0;
		opacity: 0.2;
		padding-top: 0;
		padding-left: 5px;
		text-align: center;
	}
